gestures {
    hot-corners {
        off
    }
    
    dnd-edge-view-scroll {
        trigger-width 30
        delay-ms 100
        max-speed 15000
    }

    dnd-edge-workspace-switch {
        trigger-height 50
        delay-ms 100
        max-speed 15000
    }
}