binds {
    Mod+Shift+Comma { show-hotkey-overlay; }
    Mod+Shift+O hotkey-overlay-title="toggle opacity" { toggle-window-rule-opacity; }
    Mod+Shift+W hotkey-overlay-title="random wallpaper" { spawn-sh "waypaper --random"; }    

    Mod+W hotkey-overlay-title="toggle waybar" repeat=false { spawn-sh "pkill waybar || waybar"; }

    // Suggested binds for running programs: terminal, app launcher, screen locker.
    Mod+T hotkey-overlay-title="Open a Terminal " { spawn "kitty"; }
    Mod+B hotkey-overlay-title="Open a Browser " { spawn "brave"; }
    Mod+D hotkey-overlay-title="Open a Browser " { spawn "vesktop"; }
    Mod+E hotkey-overlay-title="Open a FileManager " { spawn "nautilus"; }
    Mod+M hotkey-overlay-title="Open Tidal " { spawn "tidal-hifi"; }
    Mod+C hotkey-overlay-title="Open a Text Editor " { spawn "codium"; }
    Mod+S hotkey-overlay-title="Open Steam " { spawn "steam"; }
    Mod+Return hotkey-overlay-title="Open Calculator " { spawn "gnome-calculator"; }

    Mod+A hotkey-overlay-title="Run an Application" { spawn-sh "wofi --show drun"; }
    Super+L hotkey-overlay-title="Lock the Screen: swaylock" { spawn-sh "swaylock "; }

    // Example volume keys mappings for PipeWire & WirePlumber.
    // The allow-when-locked=true property makes them work even when the session is locked.
    // Using spawn-sh allows to pass multiple arguments together with the command.
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    F12                  allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05+"; }
    F11                  allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05-"; }
    F10                  allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    F9                   allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    // Media control keys using playerctl
    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    Mod+TAB repeat=false { toggle-overview; }
    Mod+Shift+TAB repeat=false { spawn "~/.local/bin/nws.sh"; } 

    Mod+Q repeat=false { close-window; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-or-workspace-down; }
    Mod+Up    { focus-window-or-workspace-up; }
    Mod+WheelScrollDown cooldown-ms=150  { focus-window-or-workspace-down; }
    Mod+WheelScrollUp cooldown-ms=150    { focus-window-or-workspace-up; }
    Mod+Right { focus-column-right; }
    Mod+O     { focus-monitor-left; }
    Mod+P     { focus-monitor-right; }

    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Down  { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+Up    { move-window-up-or-to-workspace-up; }
    Mod+Ctrl+WheelScrollDown  { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp    { move-window-up-or-to-workspace-up; }
    Mod+Ctrl+Right { move-column-right; }

    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }

    // The following binds move the focused window in and out of a column.
    // If the window is alone, they will consume it into the nearby column to the side.
    // If the window is already in a column, they will expel it out.
    Mod+Alt+Left  { consume-or-expel-window-left; }
    Mod+Alt+Right { consume-or-expel-window-right; }
    Mod+Alt+Down  { consume-window-into-column; }
    Mod+Alt+Up { expel-window-from-column; }

    Mod+R { switch-preset-column-width; }
    // Cycling through the presets in reverse order is also possible.
    // Mod+R { switch-preset-column-width-back; }
    // Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    // Expand the focused column to space not taken up by other fully visible columns.
    // Makes the column "fill the rest of the space".
    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+Shift+C { center-column; }

    Mod+Shift+Equal { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Ctrl+Shift+Equal { set-column-width "-5%"; }
    Mod+Ctrl+Equal { set-column-width "+5%"; }

    Mod+Shift+V       { toggle-window-floating; }
    Mod+V { spawn-sh "cliphist list | wofi -S dmenu | cliphist decode | wl-copy"; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    // Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }
    Mod+Escape { spawn-sh "wlogout"; }
    Mod+Shift+P { power-off-monitors; }
}