input {
    keyboard {
        numlock
        track-layout "global"
    }

    touchpad {
        tap
    }

    trackpoint {
        off
    }
    
    warp-mouse-to-focus
    focus-follows-mouse max-scroll-amount="20%"
}