spawn-at-startup "waybar"
spawn-sh-at-startup "nm-applet --indicator"
spawn-sh-at-startup "tailscale systray"
spawn-sh-at-startup "udiskie"
spawn-sh-at-startup "wl-paste --watch cliphist store"
spawn-sh-at-startup "blueman-applet"
spawn-sh-at-startup "waypaper --random && cd /home/fantomitechno/dotfiles/ && git restore modules/niri-de/waypaper.ini"
spawn-sh-at-startup "while true; do sleep 1800; waypaper --random; cd /home/fantomitechno/dotfiles/ && git restore modules/niri-de/waypaper.ini; done"
spawn-sh-at-startup "swayidle -w timeout 900 'swaylock -f' timeout 900 'niri msg output power off' resume 'niri msg output power on' before-sleep 'swaylock -f'"
spawn-at-startup "niri-float-sticky"

spawn-at-startup "vesktop"