binds {
    // Code
    Mod+T hotkey-overlay-title="Open Terminal" { spawn "kitty"; }
    Mod+C hotkey-overlay-title="Open Codium" { spawn "codium"; }
    Mod+I hotkey-overlay-title="Open InteliJ" { spawn "idea"; }

    // Utility
    Mod+E hotkey-overlay-title="Open Files" { spawn "nautilus"; }
    Mod+B hotkey-overlay-title="Open Browser" { spawn "brave"; }
    Mod+Return hotkey-overlay-title="Open Calculator" { spawn "gnome-calculator"; }

    // Communication
    Mod+D hotkey-overlay-title="Open Browser" { spawn-sh "vesktop --enable-blink-features=MiddleClickAutoscroll"; }

    // Games
    Mod+S hotkey-overlay-title="Open Steam" { spawn "steam"; }
}