window-rule {
    match app-id=r#"[Mm]inecraft"#
    open-maximized true
    open-on-workspace "stm"
}

window-rule {
    match app-id="org.prismlauncher.PrismLauncher"
    open-on-workspace "stm"
}

window-rule {
    match app-id=r#"steam"#
    open-on-workspace "stm"
}

window-rule {
    match app-id=r#"[Cc]eleste"#
    open-on-workspace "stm"
}

window-rule {
    match app-id="love"
    open-on-workspace "stm"
}

window-rule {
    match app-id="Lumafly"
    open-on-workspace "stm"
}

window-rule {
    match app-id="hollow_knight.x86_64"
    open-on-workspace "stm"
}

window-rule {
    match app-id="Hollow Knight Silksong"
    open-on-workspace "stm"
}

window-rule {
    match app-id="EverestSplash-linux"
    open-on-workspace "stm"
}