window-rule {
    match app-id=r#"[Mm]inecraft"#
    open-maximized true
}

window-rule {
    match app-id=r#"steam"#
    open-on-workspace "stm"
}

window-rule {
    match app-id=r#"[Cc]eleste"#
    open-on-workspace "stm"
    open-maximized true
    open-fullscreen true
}

window-rule {
    match app-id="love"
    open-on-workspace "stm"
}
