window-rule {
    match app-id="nm-connection-editor"
    default-column-width { fixed 702; }
    default-window-height { fixed 496; }
}

window-rule {
    match app-id="org.pulseaudio.pavucontrol"
    open-floating false
    default-column-width { fixed 702; }
    default-window-height { fixed 496; }
}

window-rule {
    match app-id=".blueman-manager-wrapped"
    open-floating false
    default-column-width { fixed 702; }
    default-window-height { fixed 496; }
}


window-rule {
    match app-id="org.gnome.Calculator"
    open-floating true
    default-column-width { fixed 360; }
    default-window-height { fixed 616; }
}

window-rule {
    match app-id="vlc"
    open-maximized true
}
