window-rule {
    match app-id=r#"^vesktop$"#
    open-on-workspace "dsc"
}

window-rule {
    match app-id="teams-for-linux"
    open-on-workspace "dsc"
}

window-rule {
    match app-id="signal"
    open-on-workspace "dsc"
}

window-rule {
    match app-id="org.gnome.Fractal"
    open-on-workspace "dsc"
}