window-rule {
    match app-id=r#"[Mm]inecraft"#
    open-maximized true
    open-on-workspace "stm"
}

window-rule {
    match app-id="org.prismlauncher.PrismLauncher"
    open-on-workspace "stm"
}

window-rule {
    match app-id=r#"steam"#
    open-on-workspace "stm"
}

window-rule {
    match app-id=r#"steam"#
    open-on-workspace "stm"
}

window-rule {
    match app-id=r#"[Cc]eleste"#
    open-on-workspace "stm"
    open-maximized true
}

window-rule {
    match app-id="love"
    open-on-workspace "stm"
}

window-rule {
    match app-id="Lumafly"
    open-on-workspace "stm"
}

window-rule {
    match app-id="hollow_knight.x86_64"
    open-on-workspace "stm"
    open-maximized true
}

window-rule {
    match app-id="Hollow Knight Silksong"
    open-on-workspace "stm"
    open-maximized true
}

window-rule {
    match app-id="EverestSplash-linux"
    open-on-workspace "stm"
}

window-rule {
    match app-id="PandoraLauncher"
    open-on-workspace "stm"
}

window-rule {
    match app-id="ArchipelagoLauncher"
    open-on-workspace "stm"
}

window-rule {
    match app-id="net.lutris.Lutris"
    open-on-workspace "stm"
}

window-rule {
    match app-id="osu!"
    open-on-workspace "stm"
}

window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
}