include "input.kdl"
include "window-rules.kdl"

input {
    keyboard {
        xkb {
            layout "fr,us,es"
        }
        numlock
    }
    touchpad {
        tap
        disabled-on-external-mouse
    }

    mouse {
    }
    trackpoint {
        off
    }
    warp-mouse-to-focus
    focus-follows-mouse max-scroll-amount="15%"
}

output "eDP-1" {
    mode "1920x1080@60.049"
    scale 1
}

overview {
    zoom 0.25
}

layout {
    // Set gaps around windows in logical pixels.
    gaps 5

    focus-ring {
        // off
        width 1
        
        // active-color "#7fc8ff"
        // inactive-color "#505050"

        active-gradient from="#d06005" to="#9a09ba" angle=45 
        inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    // You can also add a border. It's similar to the focus ring, but always visible.
    border {
        off
    }

    // You can enable drop shadows for windows.
    shadow {
        on
        draw-behind-window true
        softness 50
        spread 5
        offset x=0 y=5
        color "#0007"
    }
    background-color "transparent"
}

hotkey-overlay {
    skip-at-startup
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
    // off
}

workspace "dsc"
workspace "brow"
workspace "term"
workspace "4"
workspace "5"
workspace "6"
workspace "stm"
workspace "obs"
workspace "oss"

spawn-at-startup "waybar"
spawn-sh-at-startup "nm-applet --indicator"
spawn-sh-at-startup "blueman-applet"
spawn-sh-at-startup "waypaper --random"
spawn-sh-at-startup "swayidle -w timeout 600 'swaylock -f' timeout 900 'niri msg output power off' resume 'niri msg output power on' before-sleep 'swaylock -f'"

layer-rule {
    place-within-backdrop true
}

